body {
    background-color: #150323;
   /* transform: scale(0.88); /* Adjust the scale value to zoom out 
    transform-origin: top center;  Adjust the origin as needed 
    overflow: hidden;*/
}


.main-container {
    display: flex;
    justify-content: center;
}

.game-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.game-container .timer {
    margin-top: 40px;
    align-self: flex-start;
    color: white;
    font-size: 37px;
}

.game-over-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.game-over-screen h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.game-over-screen button {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
}

/* === Mobile Responsive Canvas === */
canvas {
  width: 90vw;
  height: auto;
  max-width: 100%;
}

/* === Responsive Layout Adjustments === */
@media (max-width: 768px) {
  #game-container {
    flex-direction: column;
    align-items: center;
  }
}
